###### OpenAI Gym + PyBullet + DeepMind Control Suite ######
#
gym
box2d
pybullet
dm_control
#
#
###### Tensorflow ######
#
tensorflow
tensorflow_probability
#
#
####### Logger ######
#
wandb
#
#
####### Database (Experience replay system) ######
#
dm-reverb
#
#