###### OpenAI Gym + PyBullet ######
#
gym
box2d
pybullet
#
#
###### Tensorflow ######
#
tensorflow>=2.5.0
tensorflow_probability
pydot
#
#
###### OpenCV ######
#
opencv-python>=3.
#
#
####### Logger ######
#
wandb
#
#
####### Database (Experience replay system) ######
#
dm-reverb
#
#