###### Gymnasium + PyBullet + DeepMind Control Suite ######
#
gymnasium
box2d-py
pygame
dm_control
gym
pybullet
#
#
###### Tensorflow ######
#
tensorflow
tensorflow_probability
#
#
####### Logger ######
#
wandb
#
#
####### Database (Experience replay system) ######
#
dm-reverb
#
#
####### Utils ######
#
swig
#
#